@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Russo One", sans-serif;
  background-image: url(../assets/img/bodybg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.color-dorado {
  color: #c19d53;
}

.bg-dorado {
  background-color: #c19d53;
}

.bg-dorado-transparent {
  background-color: #c19c5347;
}

.color-blanco {
  color: #fff;
}

.color-grey {
  color: grey;
}

.peso-bold {
  font-weight: bold;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.solo-pantallas-chicas {
  display: block;
}

.solo-pantallas-grandes {
  display: none;
}

.container-fluid {
  width: 100%;
}

.contenedor {
  max-width: 960px;
  margin: auto;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Parallax*/
.container-fluid {
  width: 100%;
}

.contenedor {
  max-width: 960px;
  margin: auto;
}

.box1 {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box2 {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bloque h1 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: white;
  line-height: 500px;
}

.bloque ul {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 50px;

  list-style: none;
}

.bloque h2 {
  font-size: 18px;
}

.bloque p {
  font-size: 16px;
  text-align: justify;
}

.bloque.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .flex-column {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .bloque.parallax {
    height: 800px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.parallax.cover-1 {
  background-image: url(../assets/img/cover1.jpg);
}

.parallax.cover-2 {
  background-image: url(../assets/img/cover2.jpg);
}

.parallax.cover-3 {
  background-image: url(../assets/img/cover3.jpg);
}
.parallax.cover-4 {
  background-image: url(../assets/img/cover4.jpg);
}
.parallax.cover-5 {
  background-image: url(../assets/img/cover5.jpg);
}

.parallax.cover-6 {
  background-image: url(../assets/img/cover6.jpg);
}

.parallax.cover-7 {
  background-image: url(../assets/img/cover7.jpg);
}

.parallax.cover-8 {
  background-image: url(../assets/img/cover8.jpg);
}

.parallax.cover-9 {
  background-image: url(../assets/img/cover9.png);
}
.parallax.cover-10 {
  background-image: url(../assets/img/cover10.jpg);
}
.parallax.cover-11 {
  background-image: url(../assets/img/cover11.jpg);
}
.parallax.cover-12 {
  background-image: url(../assets/img/cover12.jpg);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  background-color: rgba(0, 0, 0, 0.21);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  top: 0;
  width: 100%;
}
/* Logo */
.logo-nav {
  display: inline-block;
  margin-left: 10px;
  padding: 30px;
  width: 160px;
  justify-content: center;
  align-items: center;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  overflow: hidden;
}
.menu a {
  display: block;
  padding: 30px;
  color: white;
}
.menu a:hover {
  background-color: #c19d53;
}
.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */

.hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 1200px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: #c19d53;
  }

  .hamb {
    display: none;
  }
}

/* Banner*/
.flex-column {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .flex-column {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-column {
    display: flex;
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
}

.position-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .justify-content {
    display: flex;
    flex-direction: column;
  }
  .solo-pantallas-chicas {
    display: none;
  }

  .solo-pantallas-grandes {
    display: block;
  }
}

@media (min-width: 1200px) {
  .justify-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .solo-pantallas-chicas {
    display: none;
  }

  .solo-pantallas-grandes {
    display: block;
  }
}

.banner-title {
  width: 60%;
}

@media (min-width: 768px) {
  .banner-title {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .banner-title {
    width: 40%;
  }
}
/*section#3 */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.personajes {
  width: 250px;
}

@media (min-width: 768px) {
  .personajes {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .personajes {
    width: 380px;
  }
}

/*section #4*/
.premio-width {
  width: 550px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.premios-banner {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.premio-width-responsive {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.premios-banner-responsive {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*section#5*/
.box-suscripto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-suscribirse {
  padding: 13px;
  width: 100%;
}

@media (min-width: 768px) {
  .input-suscribirse {
    padding: 13px;
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .input-suscribirse {
    padding: 13px;
    width: 400px;
  }
}

.iconos-flex {
  display: flex;
  justify-content: space-around;
}

.iconos-item {
  width: 20px !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .iconos-item {
    width: 20px !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .iconos-item {
    width: 40px !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.btn {
  background-color: #c19d53;
  border: 1px solid #c19d53;
  border-color: var(--accent-color, #c19d53);
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  min-width: 204px;
  padding: 15px 8px;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s;
}

/*Noticias*/
.d-grid {
  display: grid;
}

.card-grip1 {
  border-radius: 1rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
}

.grid-list-container-news {
  grid-template-columns: auto;
}

@media (min-width: 768px) {
  .grid-list-container-news {
    grid-template-columns: auto;
  }
}

@media (min-width: 1200px) {
  .grid-list-container-news {
    grid-template-columns: auto auto;
  }
}

.imagen {
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
}
.imagen:hover {
  --escala: 0.9;
  cursor: pointer;
}

.course {
  background-color: #c19d53;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 10px;
  overflow: hidden;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #c19d53;
  color: #fff;
  max-width: 250px;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card {
  padding: 2px 16px;
}

/*Historia*/
.d-grid {
  display: grid;
}

.grid-list-container {
  grid-template-columns: auto;
}

@media (min-width: 768px) {
  .grid-list-container {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1200px) {
  .grid-list-container {
    grid-template-columns: auto auto auto;
  }
}

/*Store*/
.bandai-store-imagen-icon {
  width: 100px;
}

.bandai-store-imagen {
  width: 200px;
}

@media (min-width: 768px) {
  .bandai-store-imagen {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .bandai-store-imagen {
    width: 400px;
  }
}

/*Footer*/
.footer {
  margin-top: auto;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #c19d53;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
