* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "segoe ui";
  background-image: url(../assets/img/bodybg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.color-dorado {
  color: #c19d53;
}

.bg-dorado {
  background-color: #c19d53;
}

.bg-dorado-transparent {
  background-color: #c19c5347;
}

.color-blanco {
  color: #fff;
}

.color-grey {
  color: grey;
}

.peso-bold {
  font-weight: bold;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.solo-pantallas-chicas {
  display: block;
}

.solo-pantallas-grandes {
  display: none;
}

.container-fluid {
  width: 100%;
}

.contenedor {
  max-width: 960px;
  margin: auto;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Parallax*/
.container-fluid {
  width: 100%;
}

.contenedor {
  max-width: 960px;
  margin: auto;
}

.box1 {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box2 {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bloque h1 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: white;
  line-height: 500px;
}

.bloque ul {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 50px;

  list-style: none;
}

.bloque h2 {
  font-size: 18px;
}

.bloque p {
  font-size: 16px;
  text-align: justify;
}

.bloque.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .flex-column {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .bloque.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.parallax.cover-1 {
  background-image: url(../assets/img/cover1.jpg);
}

.parallax.cover-2 {
  background-image: url(../assets/img/cover2.jpg);
}

.parallax.cover-3 {
  background-image: url(../assets/img/cover3.jpg);
}
.parallax.cover-4 {
  background-image: url(../assets/img/cover4.jpg);
}

/*Navbar*/
.nav {
  height: 50px;
  width: 100%;
  background-color: #020202;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  margin-left: 1rem;
  color: #fff;
  padding: 4px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 13px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.logo-nav {
  width: 120px;
}

@media (max-width: 768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 50%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    right: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
  }
}
/*Header*/
.flex-column {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .flex-column {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-column {
    display: flex;
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
}

.position-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .justify-content {
    display: flex;
    flex-direction: column;
  }
  .solo-pantallas-chicas {
    display: none;
  }

  .solo-pantallas-grandes {
    display: block;
  }
}

@media (min-width: 1200px) {
  .justify-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .solo-pantallas-chicas {
    display: none;
  }

  .solo-pantallas-grandes {
    display: block;
  }
}

.banner-title {
  width: 60%;
}

@media (min-width: 768px) {
  .banner-title {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .banner-title {
    width: 40%;
  }
}
/*section#3 */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.personajes {
  width: 250px;
}

@media (min-width: 768px) {
  .personajes {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .personajes {
    width: 380px;
  }
}
/*Footer*/
footer {
  margin-top: auto;
  background-color: #020202;
  height: 12vh;
  color: white;
}
